<!doctype html>  
<head>
<meta charset="UTF-8">
<title>网址缩短</title>
<link rel="icon" href="Images/favicon.gif" type="image/x-icon"/>
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<link rel="shortcut icon" href="Images/favicon.gif" type="image/x-icon"/> 
<link rel="stylesheet" type="text/css" href="Css/styles.css"/>
<link type="text/css" href="Css/css3.css" rel="stylesheet" />
<script type="text/javascript" src="Js/jquery.js"></script>
<script type="text/javascript" src="Js/jquery.pikachoose.js"></script>
<script language="javascript">
			$(document).ready(
				function (){
					$("#pikame").PikaChoose();
				});
		</script>
		

<script>
	function init()
	{  
		var xmlHttp;
        if(window.ActiveXObject)  // code for IE6, IE5
          xmlHttp = new ActiveXObject('Microsoft.XMLHTTP');  
        else if(window.XMLHttpRequest)  // code for IE7+, Firefox, Chrome, Opera, Safari
          xmlHttp = new XMLHttpRequest();  
		return xmlHttp;
    }  
	
	function Loadbody()
	{
		xmlhttp = init();
		tipin=document.getElementById("out");
		xmlhttp.onreadystatechange=function()
  		{
  		if (xmlhttp.readyState==4 && xmlhttp.status==200)
    		{
				res=eval('(' + xmlhttp.responseText + ')');
				if (res.ok!=1)
				{
					tipin.innerHTML=res.surl;
				}
				else
				{
					tipin.innerHTML="短链:  i.skyduy.com/"+res.surl
				}
			}
		}

	}

	function submitform()
	{
		url=document.getElementById("url");
		tip=document.getElementById("out");
		if (url.value.length<4)
		{tip.innerHTML='您输入的URL格式不正确，请确认后重新输入.';
		url.focus();}
		else
		{
			xmlhttp.open("POST","/Add/",true);
        	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			xmlhttp.send("url="+encodeURIComponent(url.value));
		}
	}
</script>

    </head>
<body onLoad="Loadbody();">

	
    <!--start container-->
    <div id="container">

    <!--start header-->

    <header>
 
    <!--start logo-->
    <a href="#" id="logo"><img src="Images/logo.png" width="221" height="100" alt="logo"/></a>    

	<!--end logo-->
	
   <!--start menu-->

	<nav>
    <ul>
    <hgroup id="out" style="font-size:30px;">{{info}}</hgroup>


    </ul>
    </nav>
	<!--end menu-->
	




    <!--end header-->
	</header>


   <!--start intro-->

   <div id="intro">
   
   
   <div class="group_bannner_right">
  	<style>
	.input{width:450px;height:65px;font-size:30px; line-height:30px;}
	</style>

	    <input name="url" id = "url" style="background:transparent;border:2px solid #EE82EE" type="text" class="input" placeholder="输入示例:http://www.skyduy.com" />

	<ul class="actions">
        <div style="text-align:center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="submitform();" class="myButton">缩短</a></div>
	</ul>

   </div>
   
   
   
   <header class="group_bannner_left">
   <hgroup>
   <h1>网址缩短</h1>
   <h2>“It is never too late to fall in love.“</h2>
   </hgroup>
   </header>
   </div>
   <!--end intro-->
    </div>
   <!--end container-->
   
   <!--start footer-->
   <footer>
   <div id="FooterTree"> 
   
   Follow me: &nbsp;<a href="Github">My Github</a><br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   baidu @dultty
   </div> 
   <div id="FooterTwo"> 
   Code by  <a href="http://www.skyduy.com/">Dultty</a>.&nbsp;&nbsp;&nbsp;&nbsp;
   Templates by <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>.
   <br>© 2014 Skyduy.com All rights reserved.</br>
   </div> 
   </footer>
   <!--end footer-->
<!-- Free template distributed by http://freehtml5templates.com -->   
   </body></html>
